
.redondeado{
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.ui-progressbar.ui-widget-header {
  color: Blue;
  background: url(images/lime-1x100.png) #cccccc repeat-x 50% 50%;
}

.color{
  color:#A023C8;
}

.pointer{
  cursor:pointer;
}

#footerComentario>.footer{
  position: relative!important;
}

#mapFichaEmp{
  width:100%;
  height: 400px;
  margin-top: 22px;
}
@media(max-width: 575px){
  #mapFichaEmp{
    width: 95%;
    height: 325px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
