/* Pag Principal */
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
}
footer {
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* body, * {padding: 0; margin: 0; }
#main { margin: 0 auto; }
#cuerpo { width: 65%; }
.footer { background: #ccc; padding: 2em; } */

.img{
    height: 150px;
    background-image: url("http://www.igad.edu.ec/img/titulo-matriculas-abiertas.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.col-centrada{
      float: none;
      margin: 30vh auto;
}

.borde{
  border: 1px solid red;
}
.buscardorV1{
    background-color:red;
    height: 150px;
    padding-top:30px;
}

/*Searcher page first*/
.buscadorPrincipal {
    min-height: 74vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
  cursor: pointer;
}

.pointer{
  cursor:pointer;
}

.leaflet-bar{
  margin-top: 100px;
}
