/* Pag Principal */
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
}
footer {
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#cuerpo{
  height: 90vh;
}

.col-centrada{
  float: none;
  margin: 30vh auto;
}

.borde{
  border: 1px solid red;
}
.buscardorV1{
    background-color:red;
    height: 150px;
    padding-top:30px;
}

/*Searcher page first*/
.buscadorPrincipal {
    min-height: 74vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
  cursor: pointer;
}

.pointer{
  cursor:pointer;
}

.leaflet-bar{
  margin-top: 100px;
}


/* media query */
@media (max-height: 1250px) {
  footer {
    clear: both;
    position: relative;
    width: 100%;
  }
}

@media(min-height: 568px){
  .buscadorPrincipal{
    padding-bottom: 200px;
    min-height: inherit;
  }
}
@media(min-height: 812px){
  .buscadorPrincipal{
    padding-bottom: 350px;
    min-height: inherit;
  }
}
