.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }


#logoBuscadoPrincipal{
  width:100%;
  margin-bottom: 50px;
}

.btn-primary{
    background-color: #ff9600;
    border-color: #ffc107;
    color: black;
}
.btn-primary:hover {
    color: #fff;
    background-color: #f58306d4;
    border-color: #f58306;
}
.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #f58306d4;
    border-color: #f58306;
    box-shadow: 0 0 0 0.2rem rgba(255, 150, 0, 0.39);
}
.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 150, 0, 0.39);
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
    box-shadow: 0 0 0 0.2rem rgba(255, 150, 0, 0.39);
}

/* logo buscador */
@media (max-width: 1024px) {
  #logoBuscadoPrincipal{
    width: 145%;
    margin-left: -25%;
  }
}

@media (max-width: 414px) {
  #logoBuscadoPrincipal{
    width: 350px;
    margin-left: -81px;
  }
}

@media (max-width: 411px) {
  #logoBuscadoPrincipal{
    width: 420px;
    margin-left: -82px;
  }
}

@media (max-width: 360px) {
  #logoBuscadoPrincipal{
    width: 390px;
    margin-left: -87px;
  }
}

@media (max-width: 320px) {
  #logoBuscadoPrincipal{
    width: 350px;
    margin-left: -81px;
  }
}

/* boton de busqueda */
@media (max-width: 575.98px) {
  #busqueda_principal{
    margin-left: 10px;
    height: 76px;
    width: 100px;
  }
}
