.padre-terminos {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
}

.padre-terminos h2, .padre-terminos h3 {
  text-align: center;
}

.padre-terminos h4 {
  padding: 50px 0 5px 0;
}

.padre-terminos h2 {
  font-family: 'Times New Roman';
  font-size: 40px;
  font-weight: 600;
  padding: 30px 0 10px 0;
  line-height: 45px;
}

.padre-terminos h3, .padre-terminos h4 {
  font-family: 'Times New Roman';
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 981px) {
  .padre-terminos ul {
  width: 80%;
  }
}

.padre-terminos ul {
  list-style: none!important;
}

.padre-terminos li {
  padding-left: 45px;
  padding-right: 45px;
}

.padre-terminos li a {
  font-weight: 500!important;
}

.padre-terminos li::before {
  content: "•";
  color: #26aa9c!important;
  font-size: 20px;
  position: absolute;
  margin-left: -25px;
  line-height: 16px;
}

button#ct-ultimate-gdpr-policy-accept, a[class*="ct-ultimate"] {
  padding: 10px 40px;
  background: transparent;
  border: 1px solid #999;
  color: #666;
  font-family: 'Open Sans';
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out;
  font-weight: 500;
  border-radius: 0;
}

button#ct-ultimate-gdpr-policy-accept:hover, a[class*="ct-ultimate"]:hover {
  box-shadow: -2px 4px 5px 0px #d6d6d6!important;
  background: #666!important;
  color: white!important;
}

.gdpr-accept {
  text-align: center!important;
}

.ct-ultimate-gdpr-container.container {
    text-align: center!important;
    padding-top: 0!important;
}
