body {
    font-weight: normal;
    position: relative;
    min-height: 100vh;
}

.form{
  position: relative;
}

.card{
  margin: 100px auto 100px auto;
  border: 0;
}
.card input{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ced4da;
}
.card select{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ced4da;
}
.card select:focus{
  box-shadow: none;
}
.card input:focus{
  box-shadow: none;
}

button{
  position: absolute;
  right: 0;
}


.body_perfil_user.container {
    padding-bottom: 10rem;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* footer {
  clear: both;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-height: 1650px) {
  footer {
    clear: both;
    position: relative;
    width: 100%;
  }
} */
