/* Footer */
.footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #292c2f17;
  /* background-color: rgba(255, 255, 255, 0); */
  color: #505050;
}

.col-12.legalText {
    text-align: center;
}
.list-unstyled {
    display: inline-block;
}
.list-unstyled li{
  display: inline-block;
  padding: 0 5px;
}

footer a {
  color: #505050;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: black;
  text-decoration:none;
  /* border-bottom:1px dotted #999; */
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

.footer form div {
  float: left;
  width: 45%;
}

.contentForm {
    background: transparent!important;
    height: 29px;
    padding: 0!important;
    border-radius: 0!important;
    border-bottom: 1px solid!important;
}
.contentForm:hover{
  padding: 2px;
  border-bottom: 1px solid #919191!important;
}
.contentForm:focus{
  border-color: inherit!important;
  box-shadow: inherit!important;
}

input[type="email"]::placeholder, input[type="text"]::placeholder { /* Firefox, Chrome, Opera */
  color: #000000;
}

input[type="email"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000000;
}

input[type="email"]::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
  color: #000000;
}

/* Query */
@media(max-width: 411px){
  .footer {
    width: 105vw;
  }
}
