.pointer{
  cursor:pointer;
}

.borde{
  border: 1px solid green;
}

/* .empresa{
  position: relative;
  height: 120px;
} */

.image_empresa{
  position: absolute;
  right: 0;
}
p.nombreEmp {
  text-align: center;
}
p.nombreEmp span {
    font-weight: 600;
    font-size: 1.7em;
}
.card-body.boton {
    margin: auto;
}
.card{
  margin: 0 auto!important;
  background-color: aliceblue;
}
.card li {
    background-color: aliceblue;
}

.filaRow div:nth-child(2){
  /* border: 1px solid rgba(175, 169, 169, 0.75);
  border-width: 0px 1px 0px 1px; */
}
.logoEmp{
  border: 1px solid #afa9a9!important;
  border-width: 0px 1px 2px 1px!important;
  border-radius: 50%;
  box-shadow: 6px 7px 20px 0px #afa9a9;
  display: inline-block;
  width: 45%;
  position: absolute;
  right: 10px;
  text-align: center;
}
.logoEmp p{
  font-family: 'Lobster', cursive;
  font-size: 4em;
}
.valoracionAVG {
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 8px;
}
img.img-responsive {
    width: 30px!important;
}
.valoracionEmp {
    width: 166px;
    margin: auto;
}
.noEncontrado{
  color:rgba(156, 9, 9, 0.84);
  text-align: center;
  display: block;
  margin-top: 5em;
  font-weight: 600;
  font-size: 17px;
}
li.list-group-item.address {
    height: 74px;
}

@media(max-width:767px){
  .valoracionAVG{
    border: 0!important;
  }
  .mt-4{
    margin-top: 0 !important;
  }

}
