body {
    font-weight: normal;
    position: relative;
    min-height: 100vh;
}
*{
  cursor: default;
}
.table-borderless{
  max-width: 700px;
  margin: auto;
}

.table-borderless tbody tr td {
    padding-top: 20px;
}
.table-borderless tbody tr td img{
    width: 90%;
    height: 40%;
}
.filtro_estrella, .form-check-input, textarea, input, select{
  cursor: pointer!important;
}
.estrellas {
    text-align: center;
}

.required{
  color: red;
  display: none;
}
.cuerpo {
  padding-bottom: 15rem;
}
.cabezaIcons>h1{
  text-align: center;
}
.datos{
  width: 75%;
  margin: auto;
  border-right: 1px solid;
  border-left: 1px solid;
  padding:20px;
}
.datos>h3 {
    text-align: center;
}
.form-control{
  border: 1px solid #21252900 !important;
  border-bottom: 1px solid !important;
  border-radius: 1% !important;
}
#comentario{

}
.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 164, 0, 0.25);
  border-bottom: 0px solid !important;
}

.borderBot{
  width: 45%;
  margin: auto;
  border-bottom: 1px solid;
}
.borderTop{
  width: 45%;
  margin: auto;
  border-top: 1px solid;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* media Query */

@media (max-width: 470px) {
  .datos{
    width: 95%;
  }
}
